[core]
app_name = hapycolor

[hyperplan]
keys = ./hyperplan/keys.json
dark = ./hyperplan/dark.json
bright = ./hyperplan/light.json
saturation = ./hyperplan/saturations.json

[Iterm]
iterm_template = ./hapycolor/targets/iterm_template.xml

[Wallpaper]
wallpaper_macos = ~/Library/Application Support/Dock/desktoppicture.db

[Filters]
luminosity_filter = 2
reducer = 5

[Gnome]
gnome_terminal_profiles = /org/gnome/terminal/legacy/profiles:
